body{
    overflow: hidden;
}

.movie-page{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(17, 36, 36);
}

.detail-poster{
    float: left;
    width: 30%;
    margin-top: 0px;
}

.right-side{
    width: 60%;
    margin-left: 5%;
    float: left;
}
.star{
    margin-top: 0px;
}
.star>img{
    margin-top: 0px;
    height:40px;
    width: 40px;

}
.title{
    margin-top: -30px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;

}

.genres{
    margin-top: 5px;

}
.duration{

    margin-top: 5px;
    font-weight: bolder;
    font-size: 15px;

}
h5{
    display: inline-block;
}
.director{
    margin-top: 5px;
    font-weight: bolder;
    font-size: 15px;

}
.Actor{
    margin-top: 5px;
    font-weight: bolder;
    font-size: 15px;


}
.description{
    margin-top: 5px;
    font-weight: bolder;
    font-size: 15px;
 
}