body{
    background: red;
    font-family: 'Open Sans', sans-serif;
  }
  
  .searchWrapper{
    margin-top: 10px;
    background-color: yellow;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search {
    width: 100%;
    display: block; 
    position:absolute;
  }
  
  .searchInput {
    width: 100%;
    padding: 5px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #55968f;
  }

  
  .searchInput:focus{
    border: 2px solid #55968f;
  }
  
.searchResults{
  margin-top: 1px;
}

  .searchResult{
    padding-left: 3px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color:#CDC9C9;
  }
  
  /*Resize the wrap to see the search bar change!*/
  

  .show{
    display: block; 
  }

  .hide{
    display: none; 
  }